html {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.hero,
.footer {
    background-color: #1F2937;
    color: white;
}

.hero .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .text,
.header a {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    padding: 0 112px 64px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.hero .container {
   display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 32px;
    max-height: 300px;
    overflow: visible;
}

.hero .container .left {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   max-width: 50%;
}

.hero-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.hero .container button {
    width: fit-content;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
}

.container .title,
.container .text {
    margin: 0;
}

.info-image {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.info-container {
    padding: 0 112px 64px;

}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container > div {
    width: 150px;
}

.info-container h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 32px 0;
}