* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

.flex-container {
    display: flex;
}

.hero,
.footer {
    background-color: #1F2937;
    color: white;
}

.hero .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .text,
.header a,
.call-to-action p {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    padding: 0 112px 64px
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header ul {
    gap: 24px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.hero .container {
    justify-content: space-between;
    flex: 1;
    gap: 32px;
    max-height: 300px;
    overflow: visible;
}

.hero .container .left {
   flex-direction: column;
   justify-content: space-evenly;
   max-width: 50%;
}

.hero-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.sign-up {
    height: fit-content;
    width: fit-content;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
}

.container .title,
.container .text {
    margin: 0;
}

.info-image {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.info-container {
    padding: 0 112px 64px;

}

.card-container {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container > div {
    width: 150px;
}

.info-container h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 32px 0;
}

.quote {
    background-color: #E5E7EB;
}

.quote .flex-container {
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    width: 600px;
    margin: 0 auto;

}

.quote .text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.bold {
    font-weight: bold;
}

.flex-end {
    align-self: flex-end;
}

.call-to-action {
    color: white;
}

section.call-to-action > div {
    padding: 32px 64px;
    margin: 64px 128px;
    border-radius: 8px;
}

.call-to-action button {
    color: inherit;
    border-color: inherit;

}

.column {
    flex-direction: column;
}

.bg-blue {
    background-color: #3882f6;
}

.justify-center {
    justify-content: center;
}

.gap-64 {
    gap: 64px;
}

.align-center {
    align-items: center;
}
